@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #252B42;
    --secondary-color: #FFFFFF;
    --tertiary-color: #2091F9;
}

html {
    font-family: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

img {
    width: 100%;
}